.icon-left {
    position: absolute;
    top: 3%;
    left: 1%;
}

.icon-right {
    position: absolute;
    bottom: 3%;
    right: 1%;
}

.season-display.summer i {
    color: red;
}

.season-display.winter i {
    color: navy;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: orange;
}

.winter {
    background-color: aliceblue;
}